<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Профиль сотрудника</title>
  <link rel="stylesheet" href="user-profile-page.component.scss">
</head>
<body>
  <div class="container">
    <div class="left-column">
      <div class="avatar"></div>

      <div class="info-table">
        <div class="row">
          <div class="label">Дата принятия</div>
          <div class="value"></div>
        </div>
        <div class="row">
          <div class="label">Должность</div>
          <div class="value"></div>
        </div>
        <div class="row">
          <div class="label">Наименование департамента</div>
          <div class="value"></div>
        </div>
        <div class="row">
          <div class="label">Стаж работы в компании</div>
          <div class="value"></div>
        </div>
      </div>
    </div>

    <div class="right-column">
      <div class="contacts">
        <p>Имя</p>
        <p>Фамилия</p>
        <p>Отчество</p>
        <p>Telegram</p>
        <p>Mail</p>
      </div>
      <button class="edit-btn">Редактировать</button>

      <div class="table-block">
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
      </div>

      <button class="edit-btn">Редактировать</button>
    </div>
  </div>
  <div class="certificate">
    Сертификаты и результаты тестирований
  </div>
  <div class="bottom-btn">
    <button class="resume-btn">Создать личное резюме pdf</button>
  </div>
</body>
</html>
