<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Профиль сотрудника</title>
  <link rel="stylesheet" href="profile-edit-page.component.scss">
</head>
<body>
  <div class="container">
    <div class="left-column">
      <div class="string">обновленные данные</div>
      <div class="avatar"></div>

      <div class="info-table">
        <div class="row">
          <div class="Label">Имя</div>
          <input type="text" id="Name" placeholder="" />
        </div>
        <div class="row">
          <div class="Label">Фамилия</div>
          <input type="text" id="Surname" placeholder="" />
        </div>
        <div class="row">
          <div class="Label">Отчество</div>
          <input type="text" id="Otchestvo" placeholder="" />
        </div>
        <div class="row">
          <div class="Label">Mail</div>
          <input type="text" id="Mail" placeholder="" />
        </div>
        <div class="row">
          <div class="Label">Telegram</div>
          <input type="text" id="Telegram" placeholder="" />
        </div>
      </div>
    </div>

    <div class="right-column">
      <div class="string">старые данные</div>

      <div class="avatar"></div>

      <div class="info-table">
        <div class="row">
          <div class="Label">Имя</div>
          <div class="value"></div>
        </div>
        <div class="row">
          <div class="Label">Фамилия</div>
          <div class="value"></div>
        </div>
        <div class="row">
          <div class="Label">Отчество</div>
          <div class="value"></div>
        </div>
        <div class="row">
          <div class="Label">Mail</div>
          <div class="value"></div>
        </div>
        <div class="row">
          <div class="Label">Telegram</div>
          <div class="value"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-btn">
    <button class="edit-btn">Отправить заявку</button>
  </div>
</body>
</html>
