body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color:rgba(104, 100, 97, 1);
}

.header {
  background-color: #e2b05c;
  color: black;
  padding: 15px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: #eee;
  border-radius: 50%;
}

.container {
  padding: 15px;
}

.block {
  background-color: #e9eaec;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

.title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.rating-row {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.stars {
  color: gold;
  font-size: 20px;
  margin-right: 10px;
  min-width: 80px;
}

textarea {
  width: 98%;
  padding: 10px;
  resize: vertical;
  font-size: 14px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  font-size: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel {
  background-color: #f3836b;
  font-size: 25px;
  color: white;
}

.confirm {
  background-color: #e2b05c;
  color: black;
}
